body {
  font-family: Arial;
  text-align: center;
  background-color: #f4f4f4;
}

h1 {
  color: green;
}

button {
  padding: 10px;
  margin: 10px;
  background-color: green;
  color: white;
  border: none;
}

input, select {
  padding: 8px;
  margin: 5px;
}
